
@{
    ViewData["Title"] = "Add a Season";
    var animeList = (List <Anime>) ViewData["animeNames"];
}

<h2>Add a Season</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="HandleNewSeason">
            <div class="form-group">
                <label for="AnimeId" class="control-label">Choose an Anime</label>
                @Html.DropDownList("animeId", new SelectList(animeList, "Id", "Name"), "Select an Anime", new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label for="seasonNum" class="control-label">New Season Number</label>
                <input name="seasonNum" class="form-control" type="number" />
            </div>
            <div class="form-group">
                <label for="description" class="control-label">Description</label>
                <input name="description" class="form-control" />
            </div>
            <div class="form-group">
                <label for="numEpisodes" class="control-label">Number of Episodes</label>
                <input name="numEpisodes" class="form-control" type="number" />
            </div>
            <div class="form-group">
                <input type="submit" value="Add a new season" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>


<h2>Anime and their Seasons</h2>
@foreach (Anime anime in animeList)
{
    <h4>@anime.Name</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Season 
                </th>
                <th>
                    # of Episodes
                </th>
                <th>
                    Description
                </th>
            </tr>
        </thead>
        @foreach (Season season in anime.Seasons)
        {
        <tr>
            <td>
                @season.SeasonNum
            </td>
            <td>
                @season.NumEpisodes
            </td>
            <td>
                @season.Description
            </td>
        </tr>
        }
    </table>
}

    <style>

        
        body {
            background: url('http://colourlovers.com.s3.amazonaws.com/images/patterns/1620/1620154.png'), url('http://www.colourlovers.com/img/508F92/228/161/Elegant_Cyanide.png'), #cccccc;
            _background: #e6ca6e; /*IE cheat code*/
            background-size: auto 40px, auto 450px, auto auto;
            background-position: 0px 0px, 0px 40px, 0px 0px;
            background-repeat: repeat-x, repeat-x, repeat;
        }
